<div class="menu    ">
    <input type="checkbox" id="ckbox">
    <label for="ckbox" class="panel">
        <img src="./imagenes/icons/menu.png" alt="Julian" width="30" height="30">
    </label>
    <h1>Julián <br>"El Politológo"</h1>     
    <ul>
        <!-- Opcion 1 menu lateral -->
        <li class="contenedorItem" id="item1">
            <div class="items" >
                <img src="./imagenes/icons/cara-feliz.png" alt="Julian" width="50" height="50">
                <p>Julián "El Politológo"</p>
            </div>
            <div class="itemOculto" id="subItem1">
                <a href="pagInternas/perfil.html" class="perfil" id="perfil">Mi perfil</a>
                <a href="pagInternas/quienSoy.html" class="soy" id="soy">Quien soy, que hago</a>
            </div>
        </li>
      
        <!-- Opcion 2 menu lateral -->
        <li class="contenedorItem" id="item2">
            <div class="items" >
                <img src="./imagenes/icons/marketing-de-medios-sociales.png" alt="medios" width="50" height="50">
                <p>En los medios</p>
            </div>
            <div class="itemOculto" id="subItem2">
                <a href="pagInternas/columnas.html" class="columnas">Columnas</a>
                <a href="pagInternas/noticias.html" class="noticias">Noticias</a>
            </div>
        </li>

        <!-- Opcion 3 menu lateral -->
        <li class="contenedorItem" id="item3">
            <div class="items" >
                <img src="./imagenes/icons/debate.png" alt="concejo" width="50" height="50">
            <p>Labor en el Concejo</p>
            </div>

        <!-- Opcion 4 menu lateral -->
        <li class="contenedorItem" id="item4">
            <div class="items" >
                <img src="./imagenes/icons/edificios.png" alt="Manizales" width="50" height="50">
                <p>Manizales</p>
            </div>
            <div class="itemOculto" id="subItem4">
                <a href="pagInternas/ciudad.html" class="ciudad">Como te imaginas la ciudad</a>
                <a href="pagInternas/destacadas.html" class="personas">Personas destacadas</a>
            </div>
        </li>

        <!-- Opcion 5 menu lateral -->
        <li class="contenedorItem" id="item5">
            <div class="items" >
                <img src="./imagenes/icons/mas.png" alt="sumate" width="50" height="50">
                <p>Sumate</p>
            </div>
            <div class="itemOculto" id="subItem5">
                <a href="pagInternas/quejas.html" class="quejas">Quejas</a>
                <a href="pagInternas/propuestas.html" class="propuesta">Propuesta</a>
                <a href="pagInternas/contacto.html" class="contactanos">Contactanos</a>
            </div>
        </li>
    </ul>      
</div>

<div class="fondo">
    <!-- <ul>
        <li><img src="./imagenes/bandera.jpg" alt="bandera"></li>
        <li><img src="./imagenes/Nueva.jpeg" alt="fotnueva"></li>
        <li><img src="./imagenes/Nueva2.jpeg" alt="fotNueva2"></li>
        <li><img src="./imagenes/camp.jpg" alt="campa"></li>
    </ul> -->
</div>

<div class="redes">
    <ul class="redes">
        <li class="medios">
            <a href="https://www.facebook.com/Julianelpolit?mibextid=ZbWKwL" class="a">
                <img src="./imagenes/icons/facebook.png" alt="medios" width="40" height="40">
            </a>
        </li>
        <li class="medios">
            <a href="https://instagram.com/julianelpolitologo?igshid=YmMyMTA2M2Y=" class="a">
                <img src="./imagenes/icons/instagram.png" alt="medios" width="40" height="40">
            </a>
        </li>
        <li class="medios">
            <a href="https://twitter.com/Julianelpolit" class="a">
                <img src="./imagenes/icons/gorjeo.png" alt="medios" width="40" height="40">
            </a>
        </li>   
        <li class="medios">
            <a href="#" class="a">
                <img src="./imagenes/icons/tik-tok.png" alt="medios" width="40" height="40">
            </a>
        </li>
        <li class="medios">
            <a href="https://www.youtube.com/@JulianElPolitologo" class="a">
                <img src="./imagenes/icons/youtube.png" alt="medios" width="40" height="40">
            </a>
        </li>
        <li class="medios">
            <a href="https://www.tiktok.com/@julianelpolitologo?_t=8ZgM34DKyuM&_r=1" class="a">
                <img src="./imagenes/icons/whatsapp.png" alt="medios" width="40" height="40">
            </a>
        </li>
        
    </ul>
</div>